<html>
    <head>
        <title>TinyWiki: <% name %></title>
    </head>
    <body>
        <div id="wrap">
            <div id="header" style="background: #eee">
                <p>
                  <strong>Tiny Wiki</strong> : 
                  <a href="/">Home</a>

				<span style="margin-left: 2em; ">
				<% if (session.user) %> 
					<% session.user %> [<a href="/logout">Sign out</a>]
				<% else %>
					[<a href="/login">Sign in</a>]
				<% end %>
				</span>

                </p>
            </div>
            <div id="content">
                <% content %>
            </div>
            <div id="footer"> </div>
        </div>
    </body>
</html>
