<form action="/login" method="post">

    <div>
        <label for="login">Login</label>   
        <input id="login" type="text" name="login" value="" />
    </div>

    <div>
        <input type="submit" value="Login" />
    </div>
</form>
